/*

0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800]   Is where out normal styles apply
1800px + :      Big desktop

*/
/*
  Breakpoint arguments choices:
  - phone
  - tab-port
  - tab-land
  - big-desktop
*/
@import url("https://fonts.googleapis.com/css?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  max-width: 2400px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #EFEFEF; }

img {
  height: inherit; }

@font-face {
  src: url("../../fonts/Lato-Black.ttf");
  font-family: 'Lato-black'; }

a {
  text-decoration: none;
  font-size: 1.8rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato-black', sans-serif; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.2rem; }

ul, ol {
  font-family: 'Raleway', sans-serif;
  list-style-position: inside;
  font-size: 2rem; }

p,
figcaption {
  font-size: 1.6rem;
  font-family: Open-sans, sans-serif; }

.tb-bottom-line {
  margin: 0 -2rem !important;
  padding: .4rem 2rem !important;
  border-top: 1px solid #ececec !important;
  border-bottom: 1px solid #ececec !important; }

.tb-bottom-range {
  padding: 1rem 0 !important; }

.tx-small-grey {
  color: #777777 !important;
  font-weight: bold !important;
  font-size: 1.2rem !important; }

.tx-color-orange {
  color: #EF7665 !important; }

.tx-color-black {
  color: black !important; }

.tx-uppercase {
  text-transform: uppercase; }

.hide {
  display: none !important; }

.phone-show {
  display: none !important; }
  @media only screen and (max-width: 37.5em) {
    .phone-show {
      display: block !important; } }

@media only screen and (max-width: 37.5em) {
  .phone-hide {
    display: none !important; } }

.show {
  display: block !important; }

.blur {
  filter: blur(1px) !important; }

.breadcrumbs {
  padding-bottom: 1.2rem;
  font-size: 1rem; }
  .breadcrumbs li {
    display: inline-block; }
    .breadcrumbs li a {
      display: inline-block;
      font-size: 1.2rem; }
      .breadcrumbs li a:hover {
        text-decoration: underline; }
    .breadcrumbs li:after {
      content: '>';
      padding: 0 1rem; }
    .breadcrumbs li:last-child:after {
      content: ''; }

.cart {
  max-width: 85.8rem;
  line-height: 2.2;
  background-color: #ffffff;
  margin-bottom: 2rem; }
  .cart_title {
    font-size: 2.2rem;
    padding: 1rem 2rem 4.6rem 5rem;
    background-color: #EA5A51;
    color: white;
    position: relative; }
    .cart_title:before {
      top: 1.3rem;
      left: 1rem;
      content: '';
      position: absolute;
      width: 4rem;
      height: 4rem;
      padding: 0;
      background: url(../../img/basket.png) no-repeat center;
      background-size: 70%; }
  .cart_wrap {
    line-height: 2.2; }
    .cart_wrap > div {
      padding: 0 2rem; }
  .cart_total {
    padding: .6rem 7rem .6rem 2rem !important;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .cart_total h2 {
      font-size: 1.6rem; }
    .cart_total h3 {
      font-size: 1.2rem; }
    .cart_total:last-child {
      padding: 1.4rem 4rem 1.4rem 2rem !important; }
  .cart form img {
    width: 4rem;
    height: 4rem;
    margin: 0 2rem 0 0;
    object-fit: contain; }
  .cart form p {
    margin: .9rem 0;
    font-size: 1.5rem;
    font-weight: 700; }
  .cart .shipping form {
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .cart .free {
    font-size: 1rem;
    padding: 0 1.5rem;
    border: 1px solid #d2d2d2;
    border-radius: 4rem; }

.products {
  width: calc(100% - 5%);
  margin: -4.5rem auto 1rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative; }
  .products:after {
    content: '';
    display: block;
    position: absolute;
    width: calc(100% - 1%);
    bottom: 0;
    margin: 0 .5rem;
    height: 80%;
    box-shadow: 0 0.5rem 0.5rem #ececec; }
  .products > div {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .products > div {
        flex-direction: column; } }
  .products_title {
    text-transform: uppercase;
    padding: 1.3rem 3rem;
    font-weight: bold;
    color: white; }
    .products_title * {
      font-size: 1.2rem;
      margin-right: 1rem; }
  .products_prod {
    width: 67%; }
    @media only screen and (max-width: 75em) {
      .products_prod {
        width: 55%; } }
  .products_quant {
    width: 33%;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 75em) {
      .products_quant {
        width: auto; } }
    .products_quant > p {
      min-width: 8rem; }
  @media only screen and (max-width: 37.5em) {
    .products_quant-mobile {
      width: 100%; }
      .products_quant-mobile p {
        color: black;
        text-transform: uppercase;
        font-family: 'Lato-black';
        font-size: 1.2rem;
        text-align: left; }
      .products_quant-mobile select {
        width: 100%; }
      .products_quant-mobile_pack {
        display: flex;
        justify-content: space-between; } }
  .products_position {
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 75em) {
      .products_position {
        padding: 0; } }
  .products_group {
    width: 33%;
    transform: translateX(-2rem);
    justify-content: space-between;
    font-size: 1.8rem;
    z-index: 1;
    display: flex;
    align-items: center; }
    .products_group div:not(:last-child) {
      padding-right: 2.5rem; }
    @media only screen and (max-width: 75em) {
      .products_group {
        width: auto; } }
    @media only screen and (max-width: 37.5em) {
      .products_group {
        width: 100%;
        margin: 0 2rem; }
        .products_group > div {
          margin: 0; } }
  .products_close {
    width: 1rem;
    height: 1rem;
    padding: 1rem;
    border-radius: 50%;
    border: 1px solid #d2d2d2;
    cursor: pointer;
    transition: background-color .3s;
    position: relative;
    z-index: 1; }
    .products_close:before, .products_close:after {
      content: '';
      position: absolute;
      width: calc(100% - 40%);
      height: 2px;
      padding: 0;
      top: 0;
      left: 0;
      transform: rotate(45deg) translate(9px, 3px);
      background-color: black; }
    .products_close:after {
      transform: rotate(-45deg) translate(-3px, 9px); }
    .products_close:hover {
      background-color: #EA5A51;
      border: 1px solid #EA5A51;
      box-shadow: 0 2px 5px #EA5A51; }
      .products_close:hover:before, .products_close:hover:after {
        background: white; }
  .products_position {
    max-height: 7.5rem;
    border-bottom: 1px solid #ececec; }
    @media only screen and (max-width: 75em) {
      .products_position {
        max-height: max-content; } }
  .products figure {
    width: 67%;
    max-height: inherit;
    display: flex;
    align-items: center; }
    .products figure * {
      max-height: inherit; }
    .products figure img {
      width: 10rem;
      padding: 1rem;
      object-fit: contain; }
      @media only screen and (max-width: 75em) {
        .products figure img {
          max-height: 7rem; } }
    @media only screen and (max-width: 75em) {
      .products figure {
        width: auto; } }
    @media only screen and (max-width: 37.5em) {
      .products figure {
        width: 100%;
        justify-content: space-between; } }
  .products figcaption {
    font-size: 1.8rem; }
    @media only screen and (max-width: 75em) {
      .products figcaption {
        font-size: 1.4rem; } }
  .products select {
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    padding: 1.2rem 2rem;
    outline: none;
    cursor: pointer; }
    .products select:active {
      outline: none;
      border: none; }
    .products select:focus {
      border: 1px solid #d2d2d2; }

.continue {
  display: flex;
  justify-content: space-between; }
  .continue a {
    min-width: 28rem;
    display: inline-block;
    border-radius: 3rem;
    padding: 1.5rem 4rem;
    border: 1px solid #d2d2d2;
    text-transform: uppercase;
    color: #3F79BD;
    letter-spacing: 2px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    font-family: 'Lato', sans-serif;
    position: relative;
    cursor: pointer; }
    .continue a:hover {
      background: #EA5A51;
      color: #ffffff; }
      .continue a:hover:before {
        background: url(../../img/right-arrowhover.svg) no-repeat center;
        background-size: 65%; }
    .continue a:before {
      left: 2.2rem;
      top: 1.5rem;
      content: '';
      position: absolute;
      width: 2.5rem;
      height: 1.5rem;
      padding: 0;
      background: url(../../img/right-arrow.svg) no-repeat center;
      background-size: 60%; }
    @media only screen and (max-width: 37.5em) {
      .continue a {
        margin: 1rem 0; } }
  .continue a:first-child:before {
    transform: rotate(-180deg); }
  .continue a:last-child:before {
    left: 21rem; }
  @media only screen and (max-width: 37.5em) {
    .continue {
      display: flex;
      align-items: center;
      flex-direction: column; } }

.radio-button,
.checkbox {
  position: relative;
  margin: 20px 0;
  cursor: pointer; }

.radio-button input,
.checkbox input {
  position: absolute;
  margin: 5px;
  padding: 0;
  /* for mobile accessibility (iOS Label Bug) */
  visibility: hidden; }

.radio-button .label-visible,
.checkbox .label-visible {
  margin-left: 2.5em;
  margin-bottom: 0;
  display: flex;
  align-items: center; }

.fake-radiobutton,
.fake-checkbox {
  position: absolute;
  display: block;
  left: 3px;
  width: 1.4rem;
  height: 1.4rem;
  background-color: #dddddd; }

.fake-radiobutton:after,
.fake-checkbox:after {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5rem;
  height: 2.5rem;
  padding: 1rem;
  background: #EA5A51 url(../../img/check.svg) no-repeat center;
  background-size: 60%;
  transform: translateX(-50%) translateY(-50%); }

.radio-column {
  display: flex;
  flex-direction: column; }
  .radio-column span {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-style: italic; }

.airmail {
  color: #DB3B46; }

.airmail,
.ems {
  transform: translateX(1.5rem);
  position: relative;
  font-weight: bold; }
  .airmail:before,
  .ems:before {
    top: -.5rem;
    left: -2rem;
    background: black;
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    background: url(../../img/airlains.png) no-repeat center;
    background-size: 65%; }

.ems {
  color: #246AAA; }
  .ems:before {
    background: url(../../img/ems.png) no-repeat center;
    background-size: 65%; }

.fake-radiobutton {
  border-radius: 50%; }

.fake-radiobutton:after {
  border-radius: 50%; }

input[type="radio"]:checked + span .fake-radiobutton:after,
input[type="checkbox"]:checked + span .fake-checkbox:after {
  display: block; }

.modal {
  display: block;
  background: rgba(247, 247, 247, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1; }
  .modal_close {
    width: 1rem;
    height: 1rem;
    padding: 1rem;
    border-radius: 50%;
    border: 1px solid #d2d2d2;
    cursor: pointer;
    transition: background-color .3s;
    position: relative;
    z-index: 1;
    right: 2rem;
    top: -2rem;
    padding: 1.3rem;
    position: absolute;
    background: #ffffff; }
    .modal_close:before, .modal_close:after {
      content: '';
      position: absolute;
      width: calc(100% - 40%);
      height: 2px;
      padding: 0;
      top: 0;
      left: 0;
      transform: rotate(45deg) translate(9px, 3px);
      background-color: black; }
    .modal_close:after {
      transform: rotate(-45deg) translate(-3px, 9px); }
    .modal_close:hover {
      background-color: #EA5A51;
      border: 1px solid #EA5A51;
      box-shadow: 0 2px 5px #EA5A51; }
      .modal_close:hover:before, .modal_close:hover:after {
        background: white; }
    .modal_close:before {
      transform: rotate(-45deg) translate(-5px, 12px); }
    .modal_close:after {
      transform: rotate(45deg) translate(12px, 5px); }
  .modal_window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 35%;
    width: 40rem;
    padding-bottom: 4rem;
    background: #ffffff;
    box-shadow: 1px 3px 8px #d2d2d2; }
  .modal h1 {
    padding: 1rem 2rem 6rem;
    background: linear-gradient(50deg, #e0873a, #f72323);
    color: #ffffff; }
  .modal p {
    width: calc(100% - 10%);
    margin: -4.5rem auto 0;
    background: #ffffff;
    padding: 1.5rem 0; }
  .modal p, .modal label {
    padding-left: 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: 'Lato-black'; }
  .modal form {
    width: calc(100% - 10%);
    margin: 0 auto;
    box-shadow: 0 3px 10px rgba(128, 128, 128, 0.25); }
  .modal label {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.6rem 2rem 0;
    position: relative; }
    .modal label:after {
      content: '';
      position: absolute;
      width: 0.5rem;
      height: 0.5rem;
      padding: 3px;
      top: 2rem;
      left: 5.7rem;
      border-radius: 50%;
      background: #EA5A51; }
  .modal input {
    margin-top: .5rem;
    padding: 1.5rem;
    border-radius: 4px;
    border: 1px solid #d2d2d2; }
  .modal button {
    min-width: 28rem;
    display: inline-block;
    border-radius: 3rem;
    padding: 1.5rem 4rem;
    border: 1px solid #d2d2d2;
    text-transform: uppercase;
    color: #3F79BD;
    letter-spacing: 2px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    font-family: 'Lato', sans-serif;
    position: relative;
    cursor: pointer;
    top: 2rem;
    left: 50%;
    transform: translate(-50%, 0%);
    background: #EF7665;
    color: #ffffff; }
    .modal button:hover {
      background: #EA5A51;
      color: #ffffff; }
      .modal button:hover:before {
        background: url(../../img/right-arrowhover.svg) no-repeat center;
        background-size: 65%; }
    .modal button:before {
      left: 2.2rem;
      top: 1.5rem;
      content: '';
      position: absolute;
      width: 2.5rem;
      height: 1.5rem;
      padding: 0;
      background: url(../../img/right-arrow.svg) no-repeat center;
      background-size: 60%; }
    .modal button:before {
      left: 17rem;
      background: url(../../img/right-arrowhover.svg) no-repeat center;
      background-size: 65%; }

.menu {
  margin-right: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .menu {
      display: none;
      width: 100%;
      position: absolute;
      z-index: 100;
      height: 120%;
      background: #ffffff; } }

.menu-close {
  display: none; }
  @media only screen and (max-width: 56.25em) {
    .menu-close {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      padding: 1rem;
      text-align: center;
      top: 0;
      transform: translate(-50%, 0%);
      text-transform: uppercase;
      font-family: 'Lato-black';
      display: block; } }

.nav {
  background: #ffffff; }
  .nav div {
    width: 27rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-family: 'Lato-black';
    padding: 1.5rem 2rem;
    border-bottom: 1px solid #ececec;
    position: relative;
    cursor: pointer; }
    .nav div:first-child {
      display: flex;
      justify-content: space-between; }
      .nav div:first-child span {
        color: #777777; }
      .nav div:first-child:after {
        border: none; }
    .nav div:after {
      border-top: 4px solid transparent;
      border-left: 5px solid #777777;
      border-bottom: 4px solid transparent;
      right: 1rem;
      top: 50%;
      transform: translate(50%, -50%);
      content: '';
      position: absolute;
      width: 0.5rem;
      height: 0.5rem;
      padding: 0; }
    @media only screen and (max-width: 56.25em) {
      .nav div {
        width: 100%; } }
  .nav ul {
    list-style: none; }
    .nav ul li a {
      display: inline-block;
      padding: 1.5rem 0;
      border-bottom: 1px solid #ececec;
      text-transform: initial;
      font-size: 1rem;
      font-family: 'Lato-black';
      color: #777777; }
  @media only screen and (max-width: 56.25em) {
    .nav {
      height: 100vh; } }

.wrap {
  padding-top: 5rem;
  display: flex;
  justify-content: center; }

main {
  width: 86rem; }
  @media only screen and (max-width: 56.25em) {
    main {
      padding: 0 1rem; } }
