*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
}

body {
  max-width: 2400px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: $bg-color;
}

img { height: inherit; }