@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@font-face {
  src: url('../../fonts/Lato-Black.ttf');
  font-family: 'Lato-black';
}

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

a {
  text-decoration: none;
  font-size: 1.8rem;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Lato-black', sans-serif; }

h1 { font-size: 3rem; }

h2 { font-size: 2.2rem; }

ul, ol {
  font-family: 'Raleway', sans-serif;
  list-style-position: inside;
  font-size: 2rem;
}

p,
figcaption {
  font-size: 1.6rem;
  font-family: Open-sans, sans-serif;
}