.tb-bottom-line {
  margin: 0 -2rem !important;
  padding: .4rem 2rem !important;
  border-top: 1px solid $color-product-color !important;
  border-bottom: 1px solid $color-product-color !important;
}

.tb-bottom-range { padding: 1rem 0 !important; }

.tx-small-grey {
  color: $color-text-lightgrey !important;
  font-weight: bold !important;
  font-size: 1.2rem !important;
}

.tx-color-orange { color: $color-shipping-date !important; }

.tx-color-black { color: $black !important; }

.tx-uppercase { text-transform: uppercase; }

.hide {
  display: none !important;
}

.phone-show {
  display: none !important;
  @include respond(phone) {
    display: block !important;
  }
}

.phone-hide {
  @include respond(phone) {
    display: none !important;
  }
}

.show {
  display: block !important;
}

.blur {
  filter: blur(1px) !important;
}

