.menu {
  margin-right: 2rem;
  @include respond(tab-port) {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 100;
    height: 120%;
    background: $white;
  }
}

.menu-close {
  display: none;

  @include respond(tab-port) {
    @include absCenter;
    width: 100%;
    padding: 1rem;
    text-align: center;
    top: 0;
    transform: translate(-50%, 0%);
    text-transform: uppercase;
    font-family: 'Lato-black';
    display: block;
  }
}

.nav {
  background: $white;

  div {
    
    width: 27rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-family: 'Lato-black';
    padding: 1.5rem 2rem;
    border-bottom: 1px solid $color-product-color;
    position: relative;
    cursor: pointer;

    &:first-child{
      display: flex;
      justify-content: space-between;

      span {
        color: $color-text-lightgrey;
      }
      &:after { border: none; }
    }

    &:after {
      border-top: 4px solid transparent;
      border-left: 5px solid $color-text-lightgrey;
      border-bottom: 4px solid transparent;
      right: 1rem;
      top: 50%;
      transform: translate(50%, -50%);
      @include befAft(absolute, .5rem, .5rem, 0);
    }

    @include respond(tab-port) {
      width: 100%;
    }
  }



  ul {
    list-style: none;
    li a {
      display: inline-block;
      padding: 1.5rem 0;
      border-bottom: 1px solid $color-product-color;
      text-transform: initial;
      font-size: 1rem;
      font-family: 'Lato-black';
      color: $color-text-lightgrey;
    }
  }

  @include respond(tab-port) {
    height: 100vh;
  }
}