.breadcrumbs {
  padding-bottom: 1.2rem;
  font-size: 1rem;

  li {
    display: inline-block;

    a {
      display: inline-block;
      font-size: 1.2rem;

      &:hover {
        text-decoration:  underline;
      }
    }

    &:after {
      content: '>';
      padding: 0 1rem;
    }

    &:last-child:after {
      content: '';
    }
  }

}