.cart {
  max-width: 85.8rem;
  line-height: 2.2;
  background-color: $white;
  margin-bottom: 2rem;

  &_title {
    font-size: 2.2rem;
    padding: 1rem 2rem 4.6rem 5rem;
    background-color: $color-cart;
    color: white;
    position: relative;

    &:before {
      top: 1.3rem;
      left: 1rem;
      @include befAft(absolute, 4rem, 4rem, 0);
      background: url(../../img/basket.png) no-repeat center;
      background-size: 70%;
    }
  }

  &_wrap { line-height: 2.2;

    > div {
      padding: 0 2rem;
    }
  }

  &_total {
    padding: .6rem 7rem .6rem 2rem !important;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    @include flexItemCenter;
    justify-content: space-between;
  
    h2 { font-size: 1.6rem; }
    h3 { font-size: 1.2rem;}

    &:last-child {
      padding: 1.4rem 4rem 1.4rem 2rem !important;
    }
  }

  form {
    img {
      width: 4rem;
      height: 4rem;
      margin: 0 2rem 0 0;
      object-fit: contain }
    p {
      margin: .9rem 0;
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

  .shipping form {
    line-height: 1.2;
    @include flexItemCenter;
    justify-content: space-between;
  }

  .free {
    font-size: 1rem;
    padding: 0 1.5rem;
    border: 1px solid $color-close-border;
    border-radius: 4rem;
  }
}

.products {
  width: calc(100% - 5%);
  margin: -4.5rem auto 1rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: calc(100% - 1%);
    bottom: 0;
    margin: 0 .5rem;
    height: 80%;
    box-shadow: 0 0.5rem 0.5rem $color-product-color;
  }

  > div {
    @include flexItemCenter;
    
    @include respond(phone) {
      flex-direction: column;
    }
  }

  &_title {
    text-transform: uppercase;
    padding: 1.3rem 3rem;
    font-weight: bold;
    color: white;

    * {
    font-size: 1.2rem;
    margin-right: 1rem; }
  }

  &_prod {
    width: 67%;
    @include respond(tab-land) {
      width: 55%;
    }
  }

  &_quant {
    width: 33%;
    @include flexItemCenter;

    @include respond(tab-land) {
      width: auto;
    } 
  
    > p { min-width: 8rem; }
  }

  &_quant-mobile {
    @include respond(phone) {
      width: 100%;
      p {
        color: $black;
        text-transform: uppercase;
        font-family: 'Lato-black';
        font-size: 1.2rem;
        text-align: left;
      }

      select {
        width: 100%;
      }

      &_pack {
        display: flex;
        justify-content: space-between;
      }
    } 
  }

  &_position {
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;

    @include respond(tab-land) {
      padding: 0;
    }
  }

  &_group { 
    width: 33%;
    transform: translateX(-2rem);
    justify-content: space-between;
    font-size: 1.8rem;
    z-index: 1;
    @include flexItemCenter;

    div:not(:last-child) {
      padding-right: 2.5rem;
    }

    @include respond(tab-land) {
      width: auto;
    }

    @include respond(phone) {
      width: 100%;
      margin: 0 2rem;

      > div {
        margin: 0;
      }
    }
  }

  &_close { @include close; }

  &_position {
    max-height: 7.5rem;
    border-bottom: 1px solid $color-product-color;

    @include respond(tab-land) {
      max-height: max-content;
    }
  }

  figure {
    width: 67%;
    max-height: inherit;
    @include flexItemCenter;

    * { max-height: inherit; }

    img {
      width: 10rem;
      padding: 1rem;
      object-fit: contain;

      @include respond(tab-land) {
        max-height: 7rem;
      }
    }
    
    @include respond(tab-land) {
      width: auto;
    }

    @include respond(phone) {
      width: 100%;
      justify-content: space-between;
    }
  }

  figcaption {
    font-size: 1.8rem;

    @include respond(tab-land) {
      font-size: 1.4rem;
    }
  }

  select {
    border: 1px solid $color-close-border;
    border-radius: 3px;
    padding: 1.2rem 2rem;
    outline: none;
    cursor: pointer;

    &:active { outline: none; border: none; }
    &:focus {
      border: 1px solid $color-close-border;
    }
  }
}

.continue {
  display: flex;
  justify-content: space-between;

  a {
    @include buttonMain;

    @include respond(phone) {
      margin: 1rem 0;
    }
  }
  a:first-child {
    &:before {
      transform: rotate(-180deg);
    }
  }

  a:last-child {
    &:before {
      left: 21rem;
    }
  }

  @include respond(phone) {
    @include flexItemCenter;
    flex-direction: column;
  }
}