.radio-button,
.checkbox {
  position: relative;
  margin: 20px 0;
  cursor: pointer;
}

.radio-button input,
.checkbox input {
  position: absolute;
  margin: 5px;
  padding: 0;
  /* for mobile accessibility (iOS Label Bug) */
  visibility: hidden;
}
.radio-button .label-visible,
.checkbox .label-visible {
  margin-left: 2.5em;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.fake-radiobutton,
.fake-checkbox{
  position: absolute;
  display: block;
  left: 3px;
  width: 1.4rem;
  height: 1.4rem;
  background-color: #dddddd;
}
.fake-radiobutton:after,
.fake-checkbox:after {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5rem;
  height: 2.5rem;
  padding: 1rem;
  background: $color-close url(../../img/check.svg) no-repeat center;
  background-size: 60%;
  transform: translateX(-50%) translateY(-50%);
}

.radio-column {
  display: flex;
  flex-direction: column;

  span {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-style: italic;
  }
}

.airmail { color: $color-shipping-airmail; }

.airmail,
.ems {
  transform: translateX(1.5rem);
  position: relative;
  font-weight: bold;

  &:before {
    top: -.5rem;
    left: -2rem;
    background: black;
    @include befAft(absolute, 2rem, 2rem, 1rem);
    background: url(../../img/airlains.png) no-repeat center;
    background-size: 65%;
  }
}

.ems {
  color: $color-shipping-ems;

  &:before {
    background: url(../../img/ems.png) no-repeat center;
    background-size: 65%;
  }
}



.fake-radiobutton { border-radius: 50%; }
.fake-radiobutton:after { border-radius: 50%; }

input[type="radio"]:checked + span .fake-radiobutton:after,
input[type="checkbox"]:checked + span .fake-checkbox:after { display: block; }