.modal {
  display: block;
  background: rgba(247, 247, 247, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;

  &_close {
    @include close;
    right: 2rem;
    top: -2rem;
    padding: 1.3rem;
    position: absolute;
    background: $white;

    &:before {
      transform: rotate(-45deg) translate(-5px, 12px)
    }

    &:after {
      transform: rotate(45deg) translate(12px, 5px)
    }
  }

  &_window {
    @include absCenter;
    top: 35%;
    width: 40rem;
    padding-bottom: 4rem;
    background: $white;
    box-shadow: 1px 3px 8px $color-close-border;
  }

  h1 {
    padding: 1rem 2rem 6rem;
    background: $color-bg-modal;
    color: $white;
  }

  p {
    width: calc(100% - 10%);
    margin: -4.5rem auto 0;
    background: $white;
    padding: 1.5rem 0;
  }

  p, label {
    padding-left: 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: 'Lato-black';
  }

  form {
    width: calc(100% - 10%);
    margin: 0 auto;
    box-shadow: 0 3px 10px $color-shadow-modal;
  }

  label {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.6rem 2rem 0;
    position: relative;

    &:after {
      @include befAft(absolute, .5rem, .5rem, 3px);
      top: 2rem;
      left: 5.7rem;
      border-radius: 50%;
      background: $color-close;
    }
  }

  input {
    margin-top: .5rem;
    padding: 1.5rem;
    border-radius: 4px;
    border: 1px solid $color-close-border;
  }

  button {
    @include buttonMain;
    top: 2rem;
    left: 50%;
    transform: translate(-50%, 0%);
    background: $color-shipping-date;
    color: $white;

    &:before {
      left: 17rem;
      background: url(../../img/right-arrowhover.svg) no-repeat center;
      background-size: 65%;
    }
  }
}