@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexItemCenter {
  display: flex;
  align-items: center;
}

@mixin befAft ($position, $width, $height, $padding...) {
  content: '';
  position: $position;
  width: $width;
  height: $height;
  padding: $padding;
}

@mixin borderLR($px, $solid, $color) {
  border-left: $px $solid $color;
  border-right: $px $solid $color;
}

@mixin buttonMain {
    min-width: 28rem;
    display: inline-block;
    border-radius: 3rem;
    padding: 1.5rem 4rem;
    border: 1px solid $color-close-border;
    text-transform: uppercase;
    color: $color-continue-button;
    letter-spacing: 2px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    font-family: 'Lato', sans-serif;
    position: relative;
    cursor: pointer;

    &:hover {
      background: $color-close;
      color: $white;

      &:before {
        background: url(../../img/right-arrowhover.svg) no-repeat center;
        background-size: 65%;
      }
    }

    &:before {
      left: 2.2rem;
      top: 1.5rem;
      @include befAft(absolute, 2.5rem, 1.5rem, 0);
      background: url(../../img/right-arrow.svg) no-repeat center;
      background-size: 60%;
    }
}

@mixin close {
  width: 1rem;
  height: 1rem;
  padding: 1rem;
  border-radius: 50%;
  border: 1px solid $color-close-border;
  cursor: pointer;
  transition: background-color .3s;
  position: relative;
  z-index: 1;

  &:before,
  &:after {
    @include befAft (absolute, calc(100% - 40%), 2px, 0);
    top: 0;
    left: 0;
    transform: rotate(45deg) translate(9px, 3px);
    background-color: black;
  }

  &:after { transform: rotate(-45deg) translate(-3px, 9px); }

  &:hover {
    background-color: $color-close;
    border: 1px solid $color-close;
    box-shadow: 0 2px 5px $color-close;

    &:before,
    &:after {
      background: white;
    }
  }
}

//MEDIA QUERY MANAGER

/*

0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800]   Is where out normal styles apply
1800px + :      Big desktop

*/

@mixin respond-phone {
  @media (max-width: 600px) { @content };
}

/*
  Breakpoint arguments choices:
  - phone
  - tab-port
  - tab-land
  - big-desktop
*/

@mixin respond($breadkpoint) {
  @if $breadkpoint == phone { // 600
    @media only screen and (max-width: 37.5em) { @content };
  }
  @if $breadkpoint == tab-port { // 900
    @media only screen and  (max-width: 56.25em) { @content };
  }
  @if $breadkpoint == tab-land { // 1200
    @media only screen and  (max-width: 75em) { @content };
  }
  @if $breadkpoint == big-desktop { // 1800+
    @media only screen and  (min-width: 112.5em) { @content };
  }
}