$color-cart: #EA5A51;
$color-shipping-date: #EF7665;

$color-bg-modal: linear-gradient(50deg, #e0873a, #f72323);
$color-shadow-modal: rgba(128, 128, 128, 0.25);

$color-close: #EA5A51;
$color-close-border: rgb(210, 210, 210);

$color-product-color: #ececec;

$color-text-lightgrey: #777777;
$color-continue-button: #3F79BD;

$bg-color: #EFEFEF;

$white: #ffffff;
$black: rgb(0, 0, 0);

$color-shipping-airmail: #DB3B46;
$color-shipping-ems: #246AAA;